@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
  background-color: #e5e5e5;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: #fff;
}

.nav-bar a {
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
}

.main-section {
  background: url(image/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: contain;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.main-section h1 {
  font-size: 40px;
  font-style: bold;
  line-height: 52px;
  padding-top: 100px;
  padding-left: 20px;
  margin-top: 12px;
  color: #172b4d;
}

.main-section .introduction-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding: 10px 20px;
}

.main-section .introduction-2 {
  color: #7f8cff;
  padding: 10px 20px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
}

ul li {
  list-style: none;
}

.nav-link {
  display: flex;
  gap: 15px;
  padding: 0 18px;
}

.paragraph {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  width: 295px;
  height: 76px;
  margin: 12px 0;
  padding-left: 20px;
}


.work-section .work img {
  padding: 16px;
}

.work-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  margin-top: 50px;
  background-color: #e5e5e5;
}

.work {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 70px;
}

.work .tonic {
  color: #172b4d;
  font-size: 2rem;
  font-weight: 700;
  line-height: 44px;
  padding-left: 20px;
}

.work .multi {
  color: #172b4d;
  font-size: 2rem;
  font-weight: 700;
  line-height: 44px;
  width: 60%;
  padding-left: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 50%;
}

.work .works {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.back-end {
  color: #7a869a;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
  width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
}

.year {
  color: #7a869a;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
}

.canopy {
  height: 16px;
  width: 55px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  font-style: normal;
  color: #344563;
  margin-right: 5px;
}

.paragraph {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  width: 295px;
  height: 76px;
  margin: 12px 0;
  padding-left: 20px;
}

.skills {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.skills li {
  background: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  font-size: 12px;
  border: 1px solid #ebebff;
  padding: 4px 12px;
}


.project-button {
  border: 1px solid #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #396df2;
  width: 120px;
  height: 50px;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 20px;
}

.project-button:hover {
  background: #6070ff;
  color: #fff;
}







